.navbar {
    background-color: rgb(85, 72, 61);
    color: white;
    padding: 10px 0;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    margin: 2px;
}

.nav-list li {
    margin: 2px;
}

.nav-list a {
    text-decoration: none;
    color: white;
  border-radius: 5px;
  padding: 3px;
}

.nav-list a:hover {
    background-color:rgba(195, 193, 189, 0.568);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(85, 72, 61);
    min-width: 160px;
    z-index: 1;
    transform: translateX(-30%);
    padding-left: 2px;
    margin-top: 15px;
}


.dropdown-content li {
    padding: 10px
}

.dropdown-content a {
    color: white;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown {
    cursor: pointer;
}

.dropdown:hover {
    color: rgb(100, 29, 192);
    background-color:rgba(195, 193, 189, 0.568);
    padding: 3px;
    border-radius: 5px;   
 
}

.open {
    display: block;
}