.navbar {
    background-color: rgb(85, 72, 61);
    color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 24px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav-list .nav-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #f0f0f0;
    color: black;
    cursor: pointer;
    transition: border-color 0.25s;
}

.nav-list .nav-button:hover {
    color: #fff;
    border-color: #646cff;
    text-decoration: none;
    color: black;
}
.nav-list .nav.button:focus,
.nav-button:focus-visible{
    outline: 4px auto -webkit-focus-ring-color;
}
.nav-list li {
   margin: 0 10px;
   position: relative;
}

.nav-list a {
    text-decoration: none;
  border-radius: 5px;
  padding: 3px;
  transition: background-color 0.3 ease;
}

.cart-button {
    color: #f0f0f0;
}

.log-out-button {
    font-size: 1em;
}